@font-face {
    font-family: omegle;
    src: url("/font/omegle.otf")}
@font-face {
    font-family: Plumpfull;
    src: url("/font/Plumpfull.ttf")}
@font-face {
    font-family: American;
    src: url("/font/American-Captain.otf")}
  

* {
    box-sizing: border-box;
  }

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/*SECTION 1*/

@media (min-width: 1500px) {
  .sec1 {
    height: 100vh;
    width: 100%;
  }
}

.container {
  font-family: Plumpfull;
  font-size: 4rem;
}