@font-face {
    font-family: omegle;
    src: url("/font/omegle.otf")}
@font-face {
    font-family: Plumpfull;
    src: url("/font/Plumpfull.ttf")}
@font-face {
    font-family: American;
    src: url("/font/American-Captain.otf")}
@font-face {
    font-family: Vogue;
    src: url("/font/Vogue.ttf")}
  
  

* {
    box-sizing: border-box;
  }

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/*SECTION 1*/

@media (min-width: 1500px) {
  .sec1 {
    height: 100vh;
    width: 100%;
  }
}

.container {
  margin-left: 240px;
  margin-top: 240px;
  font-family: 'Vogue';
  font-size: 4rem;

}
.container2 {
  margin-left: 750px;
  margin-top: 0;
  font-size: 1rem;
  font-family: 'Vogue';
}
.container3 {
  margin-top: 0;
  margin-left: 10px;
  width: 20%;
}